.characterInfo{
	background-color: #DAAC5E;
	height:218px;
	width:631px;
	left:0px;
	top:20px;
	position: absolute;
	font-family: "Verdana";
	box-shadow: 1px 1px 10px black;
}

.dragBar{
	width:100%;
	height:20px;
	margin-left:0px;
	margin-top:-20px;
}

.dragBar:hover{
	cursor:move;
}

.dragBarButton{
	width:16px;
	height:16px;
	margin-top: -18px;
}

.weaponRankLtrPos{
	position: absolute;
	left: 20px;
	bottom: 2px;
}

.weaponRankBar{
	position: absolute;
	height: 3px;
	left: 0px;
	bottom: -3px;
	background-color:red;
}

.weaponRankBackground{
	position: absolute;
	width: 30px;
	height: 3px;
	left: 0px;
	bottom: -3px;
	background-color:#944F24;
}

.indentedStatLabel{
	position: absolute;
	font-size:12px;
	margin-left:10px;
	margin-top:5px;
}

.indentedStat{
	position: absolute;
	margin-left:50px;
	margin-top:2px;
}

.largeIndentedStat{
	position: absolute;
	margin-left:60px;
	margin-top:2px;
}

.indentedWeaponName{
	position: absolute;
	margin-left:31px;
	margin-top:5px;
}

.indentedWeaponIcon{
	position: absolute;
	margin-left:10px;
	margin-top:7px;
	display:inline-block;
}

.weaponEffectIcons{
	position: absolute;
	margin-left:150px;
	margin-top:6px;
	width:90px;
	display:inline-block;
	text-align:right;
}

.indentedClassName{
	position: absolute;
	margin-left:10px;
	margin-top:5px;
}

.indentedExpMovLabel{
	position: absolute;
	font-size:12px;
	margin-left:25px;
	margin-top:5px;
}

.indentedExpMovText{
	position: absolute;
	margin-left:55px;
	margin-top:3px;
}

.HPText{
	font-size:12px;
	position: absolute;
	margin-left:15px;
	margin-top:20px;
}

.currHPText{
	font-size:35px;
	position: absolute;
	margin-left:40px;
	margin-top:5px;
}

.totalHPText{
	font-size:25px;
	position: absolute;
	margin-left:90px;
	margin-top:10px;
}

.personalSkillHeader{
	margin-top:20px;
}

.personalSkillBody{
	margin-top:40px;
}

.debuffBody{
	margin-top:54px;
}

.weaponBuffBody{
	margin-top:67px;
}

.pairUpBody{
	margin-top:80px;
}

.skillGemPos{
	width:16px;
	margin-left:603px;
	height:16px;
}

.skillGemInfoPos{
	overflow-y: hidden;
	width:250px;
	margin-left:350px;
	height:150px;
}

.statsPos{
	width:85px;
	margin-left:250px;
	height:24px;
}

.statInfoPos{
	width:250px;
	margin-left:340px;
	height:105px;
}

.atkHitPos{
	width:130px;
	margin-left:10px;
	height:26px;
}

.critAvoPos{
	width:120px;
	margin-left:120px;
	height:26px;
}

.movExpPos{
	width:85px;
	margin-left:155px;
	height:25px;
}

.HpPos{
	width:165px;
	margin-left:10px;
	margin-top:90px;
	height:55px;
}

.classLvlPos{
	margin-top:55px;
	height:30px;
}

.shieldsPos{
	width:90px;
	margin-left:485px;
	margin-top:188px;
	height:18px;
}

.pairUpIcoPos{
	width:16px;
	margin-left:580px;
	margin-top:190px;
	height:16px;
}

.pairUpInfoPos{
	width:130px;
	margin-left:445px;
	margin-top:53px;
	height:160px;
}

.weaponRankPos{
	width:35px;
	margin-top:188px;
	height:24px;
}

.itemsPos{
	width:250px;
	margin-left:345px;
	height:30px;
}

.itemInfoPos{
	font-size:12px;
	width:240px;
	margin-left:350px;
	height:105px;
}

.charNamePos{
	font-size:25px;
	width:230px;
	margin-left:10px;
	margin-top:10px;
	height:40px;
}

.pairUpIcon{
	position: absolute;
	width: 10px;
	height: 11px;
	left: 1px;
	bottom: 8px;
}