.enemyInfo{
	background-color: #DAAC5E;
	width:483px;
	height:173px;
	font-family: "Verdana";
	font-size:14px;
	box-shadow: 1px 1px 10px black;
	z-index:2;
}

.enemyInfo:hover{
	z-index:3 !important;
}

.enemyBarButton{
	position:absolute;
	width:16px;
	height:16px;
	top:2px;
}

.enemyBar{
	right:10px;
	top:-20px;
	height:20px;
	width:38px;
}

.enemyStatLabel{
	position: absolute;
	font-size:10px;
	margin-left:15px;
	margin-top:4px;
}

.indentedEnemyStat{
	position: absolute;
	margin-left:50px;
	margin-top:1px;
}

.indentedEnemyHPStat{
	position: absolute;
	margin-left:35px;
	margin-top:1px;
}

.indentedEnemyItem{
	position:absolute;
	margin-left:31px;
	margin-top:3px;
}

.enemyWeaponEffectIcons{
	position: absolute;
	margin-left:98px;
	margin-top:3px;
	width:90px;
	display:inline-block;
	text-align:right;
}

.indentedEWeaponIcon{
	position:absolute;
	margin-left:10px;
	margin-top:4px;
}

.enemyNum{
	position: absolute;
	width: 9px;
	height: 16px;
	right: 2px;
	bottom: 2px;
	text-align: right;
	font-weight: bold;
	font-size: 12px;
	text-shadow:
   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
}

.enemyTalkBalloon{
	position: absolute;
	top: -16px;
	left: 0px;
	z-index:1;
}

.enemyNamePos{
	width:185px;
	height:38px;
	margin-left:5px;
	margin-top:5px;
}

.enemyHpMovPos{
	margin-top:48px;
	height:19px;
}

.enemyAtkHitPos{
	margin-left:5px;
	width:97px;
	height:19px;
}

.enemyAvoCritPos{
	margin-left:88px;
	width:102px;
	height:19px;
}

.enemyShieldsPos{
	margin-left:5px;
	margin-top:120px;
	width:185px;
	height:19px;
}

.enemyGemPos{
	margin-top:146px;
	width:16px;
	height:16px;
}

.enemySkillGemInfoPos{
	margin-top:19px;
	width:275px;
	height:125px;
}

.enemyStatPos{
	margin-left:195px;
	width:80px;
	height:19px;
}

.enemyInventoryBoxPos{
	margin-left:280px;
	width:198px;
	height:24px;
}

.enemyInventoryInfoPos{
	font-size:12px;
	margin-left:35px;
	width:240px;
	height:105px;
}

.enemyWeaponRankPos{
	margin-top:151px;
	height:24px;
	width:67px;
}

.eStatInfoPos{
	width:150px;
	margin-left:280px;
	height:75px;
}