body{
	height:100%;
	width:100%;
}

.mapBox{
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
}

.charDiv{
	height:32px;
	width:32px;
}

.hoverImage:hover{
	cursor: pointer;
	filter: brightness(160%);
}

.dimImage{
	filter: brightness(60%);
}

.hoverBrown:hover{
	background-color: #965b1f !important;
	cursor: pointer !important;
}

.hoverTan:hover{
	background-color: #f2e4cc !important;
	cursor: pointer !important;
}

.healthBarBack{
	position: absolute;
	width: 28px;
	height: 2px;
	left: 2px;
	top: 28px;
	background-color: dimgray;
}

.healthBarFront{
	position: absolute;
	height: 2px;
	left: 2px;
	top: 28px;
	background-color: red;
}

.healthBarBorder{
	position: absolute;
	width: 27px;
	height: 1px;
	left: 2px;
	top: 28px;
	border: 1px solid black;
}

.infoElement{
	position: absolute;
	border-radius: 10px;
}

.rightIndented{
	position: absolute;
	margin-top:5px;
}

.popOutHeader{
	margin-top:5px;
}

.popOutBody{
	margin-top:25px;
}

.popOutText{
	font-size:12px;
	position: absolute;
	margin-left:5px;
	margin-right:5px;
}

.popOutTextSpacing{
	margin-top:5px;
}

.glowBox{
	position:absolute;
	height:32px;
	width:32px;
	display:inline-block;
}

.glowBox:hover{
	box-shadow: 0px 0px 10px #00ffff;
	z-index:1;
}

.glowBoxIndent{
	margin-left:36px;
}

.absolutePos{
	position:absolute;
}

.mapCharCentered{
	margin: auto;
	position: absolute;
	left:0;
	right: 0;
	top: 0;
	bottom: 0;  
}

.mapCharOffsetLeft{
	position:absolute;
	left:-6px;
	top:-3px;
}

.mapCharOffsetRight{
	position:absolute;
	left:6px;
	top:3px;
}

.mapCharOffsetNone{
	position:absolute;
	left:0px;
	top:0px;
}

.floatAbove{
	z-index:3;
}

.centerText{ text-align: center; }
.rightText{ text-align: right; }
.whiteText{ color: white; }
.redText{ color: #491107; }
.tanText{ color: #E5C68D; }
.boldText{ font-weight: bold; }
.italicText{ font-style: italic; }

.navy{ background-color: #332F40; }
.paleTan{ background-color: #E5C68D; }
.lightTan{ background-color: #e5d0aa; }
.darkTan{ background-color: #BA7228; }
.olive{ background-color: #490200; }
.lightGreen{ background-color: #39af2b; }
.green{ background-color: #216619; opacity: 0.95;}
.blackBorder{ border: 1px solid black; }