.authBackground{
	position:absolute;
	background-image: url("../IMG/background.png");
    background-repeat: repeat;
    background-size: 25%;
	height:100%;
	width:100%;
	top:0px;
	left:0px;
}

.authBox{
	position:absolute;
	height:200px;
	width:750px;
	top: 50%;
	left: 50%;
	margin-left: -400px;
	margin-top: -80px;
}

.authImage{
	position:absolute;
	top: 50%;
	left: 50%;
	margin-left: -280px;
	margin-top: -325px;
}

.authBoxBlurred{
	filter: blur(15px);
	opacity: 0.6;
	background-color: #ffffff;
}

.authText{
	position: relative;
	width:720px;
	height:138px;
	left: 50%;
	margin-left: -360px;
	margin-top: 5px;
	text-align: center;
}

.displayLoading{
	font-family: "Verdana";
	font-size:16px;
	position:relative;
	height:50px;
	width:500px;
	margin-left: 125px;
	margin-top: 50px;
	text-align:center;
	color: black;
}

.authButton{
	position: relative;
	width: 100px;
	height: 35px;
	left: 50%;
	margin-left: -50px;
	margin-top: -5px;
 	border-radius: 10px;
 	border: 0px;
 	box-shadow: none;
 	background-color: #000000;
 	color: white;
}

.authButton:hover{
	background-color: #ff0000;
	cursor: pointer;
}

progress{
	width: 150px;
 	height: 10px;
 	border-radius:5px;
}

progress::-webkit-progress-bar{
	width: 150px;
 	height: 10px;
 	border-radius:5px;
}

progress::-webkit-progress-value {
	background-color: #000000;
	border-radius:5px;
}

progress::-moz-progress-bar {
	background-color: #000000;
	border-radius:5px;
}

.stretchLeft{
	animation-name: stretchLeft;
	-webkit-animation-name: stretchLeft;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 100% 0%;
	-ms-transform-origin: 100% 0%;
	-webkit-transform-origin: 100% 0%; 
}

@keyframes stretchLeft {
	0% {
		transform: scaleX(0.3);
	}
	40% {
		transform: scaleX(1.02);
	}
	60% {
		transform: scaleX(0.98);
	}
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(0.98);
	}				
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(1);
	}							
}

@-webkit-keyframes stretchLeft {
	0% {
		-webkit-transform: scaleX(0.3);
	}
	40% {
		-webkit-transform: scaleX(1.02);
	}
	60% {
		-webkit-transform: scaleX(0.98);
	}
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(0.98);
	}				
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(1);
	}		
}