<div id="dropArea" class="mapBox">
	<img id="map" class="absolutePos" src="http://i.imgur.com/7kG4exn.png">
	
	<!--Draw tile names-->
	<div ng-repeat="(yIndex,row) in rows" class="glowBoxIndent absolutePos" ng-style="{top: determineGlowY(yIndex)}">
		<div class="glowBox" ng-repeat="(indexX,column) in columns" title="{{column}},{{row}}" ng-style="{left: determineGlowX(indexX)}"></div>
	</div>
	
	<!--Draw enemies-->
	<div class="absolutePos charDiv" ng-style="{top: determineY($index), left: determineX($index)}" ng-repeat="enemy in enemyData" id="enemy_{{$index}}">
		<div ng-show="enemyHasPos($index)" class="hoverImage charDiv" ng-click="viewInfo=!viewInfo" id="enemy_{{$index}}_sprite">
			<div class="charDiv" class="mapCharOffsetNone">
				<img ng-src="{{kaden}}" class="mapCharCentered">
				<img ng-if="enemyHasNum($index)" ng-src="{{getEnemyNum($index)}}" class="enemyNum">
			</div>
			<div class="healthBarBack"></div>
			<div class="healthBarFront" ng-style="{width:((enemy[5]/enemy[4])*14)+'px'}"></div>
			<div class="healthBarBorder"></div>
			<div ng-if="enemyIsPaired($index)" class="pairUpIcon"><img src="IMG/shield_pairup.png"></div>
			<!--<div ng-if="enemy[0]=='Ceal'" class="pairUpIcon"><img src="IMG/shield_boss.png"></div>-->
			<!--<div ng-if="enemy[0]=='Outlaw (M)' || enemy[0] == 'Outlaw (F)'" class="enemyTalkBalloon"><img src="IMG/talk.gif"></div>-->
		</div>
		
		<!--ENEMY INFO BOX-->
		<div class="infoElement enemyInfo" ng-style="{top: displayEInfoY($index), left: displayEInfoX($index)}" ng-show="viewInfo==true" id="enemy_{{$index}}_box">
			<!--Buttons-->
			<div class="absolutePos olive enemyBar">
				<!--Close button-->
				<div class="enemyBarButton hoverImage" title="Close" ng-click="viewInfo=false" style="right:2px">
					<img src="IMG/close.png">
				</div>
				<!--Pair-Up button-->
				<div class="enemyBarButton hoverImage" ng-if="enemyIsPaired($index)" ng-click="toggleEnemyPair($index)" title="Switch to Paired Unit" style="right:20px">
					<img src="IMG/switchpairup.png">
				</div>
			</div>
			<!--Name-->
			<div class="infoElement navy whiteText enemyNamePos">
				<span class="boldText popOutText popOutHeader">{{enemy[0]}}</span>
				<span class="popOutText" style="top:19px">Lv. {{enemy[16]}} {{enemy[3]}}</span>
			</div>
			<!--HP-->
			<div class="infoElement darkTan tanText enemyHpMovPos" style="margin-left:5px;width:92px;">
				<span class="enemyStatLabel">HP</span>
				<span class="indentedEnemyHPStat">{{enemy[5]}}/{{enemy[4]}}</span>
			</div>
			<!--Movement-->
			<div class="infoElement darkTan tanText enemyHpMovPos" style="margin-left:103px;width:87px">
				<span class="enemyStatLabel">Mov</span>
				<span class="indentedEnemyStat">{{enemy[14]}}</span>
			</div>
			
			<!--Skill Gems-->
			<div class="infoElement paleTan redText hoverTan enemyGemPos" ng-mouseenter="Skill1=true" ng-mouseleave="Skill1=false" style="margin-top:72px">
				<span class="indentedEnemySkill">{{enemy[18][0]}}</span>
			</div>
			<div class="infoElement paleTan redText hoverTan enemyGemPos" ng-mouseenter="Skill2=true" ng-mouseleave="Skill2=false" style="margin-top:97px">
				<span class="indentedEnemySkill">{{enemy[19][0]}}</span>
			</div>
			<div class="infoElement paleTan redText hoverTan enemyGemPos" ng-mouseenter="Skill3=true" ng-mouseleave="Skill3=false" style="margin-top:122px">
				<span class="indentedEnemySkill">{{enemy[20][0]}}</span>
			</div>
			<div class="infoElement paleTan redText hoverTan enemyGemPos" ng-mouseenter="Skill4=true" ng-mouseleave="Skill4=false" style="margin-top:147px">
				<span class="indentedEnemySkill">{{enemy[21][0]}}</span>
			</div>
			<div class="infoElement paleTan redText hoverTan enemyGemPos" ng-mouseenter="Skill5=true" ng-mouseleave="Skill5=false" style="margin-top:172px">
				<span class="indentedEnemySkill">{{enemy[22][0]}}</span>
			</div>
			
			<!--Stats Column-->
			<!--Strength-->
			<div class="infoElement darkTan tanText enemyStatPos" ng-mouseenter="showEStr=true" ng-mouseleave="showEStr=false" style="margin-top:5px">
				<span class="enemyStatLabel">Str</span>
				<span class="indentedEnemyStat" ng-style="{color: determineEnemyStatColor('str', $index)}">{{enemy[6]}}</span>
			</div>
			<!--Magic-->
			<div class="infoElement darkTan tanText enemyStatPos" ng-mouseenter="showEMag=true" ng-mouseleave="showEMag=false" style="margin-top:29px">
				<span class="enemyStatLabel">Mag</span>
				<span class="indentedEnemyStat" ng-style="{color: determineEnemyStatColor('mag', $index)}">{{enemy[7]}}</span>
			</div>
			<!--Skill-->
			<div class="infoElement darkTan tanText enemyStatPos" ng-mouseenter="showESkl=true" ng-mouseleave="showESkl=false" style="margin-top:53px">
				<span class="enemyStatLabel">Skl</span>
				<span class="indentedEnemyStat" ng-style="{color: determineEnemyStatColor('skl', $index)}">{{enemy[8]}}</span>
			</div>
			<!--Speed-->
			<div class="infoElement darkTan tanText enemyStatPos" ng-mouseenter="showESpd=true" ng-mouseleave="showESpd=false" style="margin-top:77px">
				<span class="enemyStatLabel">Spd</span>
				<span class="indentedEnemyStat" ng-style="{color: determineEnemyStatColor('spd', $index)}">{{enemy[9]}}</span>
			</div>
			<!--Luck-->
			<div class="infoElement darkTan tanText enemyStatPos" ng-mouseenter="showELck=true" ng-mouseleave="showELck=false" style="margin-top:101px">
				<span class="enemyStatLabel">Lck</span>
				<span class="indentedEnemyStat" ng-style="{color: determineEnemyStatColor('lck', $index)}">{{enemy[10]}}</span>
			</div>
			<!--Defense-->
			<div class="infoElement darkTan tanText enemyStatPos" ng-mouseenter="showEDef=true" ng-mouseleave="showEDef=false" style="margin-top:125px">
				<span class="enemyStatLabel">Def</span>
				<span class="indentedEnemyStat" ng-style="{color: determineEnemyStatColor('def', $index)}">{{enemy[11]}}</span>
			</div>
			<!--Resistance-->
			<div class="infoElement darkTan tanText enemyStatPos" ng-mouseenter="showERes=true" ng-mouseleave="showERes=false" style="margin-top:149px">
				<span class="enemyStatLabel">Res</span>
				<span class="indentedEnemyStat" ng-style="{color: determineEnemyStatColor('res', $index)}">{{enemy[12]}}</span>
			</div>
			<!--Constitution-->
			<div class="infoElement darkTan tanText enemyStatPos" ng-mouseenter="showERes=true" ng-mouseleave="showERes=false" style="margin-top:173px">
				<span class="enemyStatLabel">Con</span>
				<span class="indentedEnemyStat" ng-style="{color: determineEnemyStatColor('res', $index)}">{{enemy[13]}}</span>
			</div>
			
			<!--Item Inventory-->
			<div class="infoElement paleTan redText hoverTan enemyInventoryBoxPos" ng-mouseenter="eWpn1=true" ng-mouseleave="eWpn1=false" style="margin-top:5px">
				<span class="indentedEWeaponIcon" ng-if="validEnemyWeapon($index,23)"><img ng-src="{{getEnemyWeaponClassIcon($index,23)}}"/></span>
				<span class="indentedEnemyItem">{{enemy[23][0]}}</span>
			</div>
			<div class="infoElement paleTan redText hoverTan enemyInventoryBoxPos" ng-mouseenter="eWpn2=true" ng-mouseleave="eWpn2=false" style="margin-top:34px">
				<span class="indentedEWeaponIcon" ng-if="validEnemyWeapon($index,24)"><img ng-src="{{getEnemyWeaponClassIcon($index,24)}}"/></span>
				<span class="indentedEnemyItem">{{enemy[24][0]}}</span>
			</div>
			<div class="infoElement paleTan redText hoverTan enemyInventoryBoxPos" ng-mouseenter="eWpn3=true" ng-mouseleave="eWpn3=false" style="margin-top:63px">
				<span class="indentedEWeaponIcon" ng-if="validEnemyWeapon($index,25)"><img ng-src="{{getEnemyWeaponClassIcon($index,25)}}"/></span>
				<span class="indentedEnemyItem">{{enemy[25][0]}}</span>
			</div>
			<div class="infoElement paleTan redText hoverTan enemyInventoryBoxPos" ng-mouseenter="eWpn4=true" ng-mouseleave="eWpn4=false" style="margin-top:92px">
				<span class="indentedEWeaponIcon" ng-if="validEnemyWeapon($index,26)"><img ng-src="{{getEnemyWeaponClassIcon($index,26)}}"/></span>
				<span class="indentedEnemyItem">{{enemy[26][0]}}</span>
			</div>
			<div class="infoElement paleTan redText hoverTan enemyInventoryBoxPos" ng-mouseenter="eWpn5=true" ng-mouseleave="eWpn5=false" style="margin-top:121px">
				<span class="indentedEWeaponIcon" ng-if="validEnemyWeapon($index,27)"><img ng-src="{{getEnemyWeaponClassIcon($index,27)}}"/></span>
				<span class="indentedEnemyItem">{{enemy[27][0]}}</span>
			</div>
			
			<!--Weapon ranks-->
			<div ng-if="existsEnemyWeapon($index,34)" title="{{enemyData[$index][34]}} Rank" class="infoElement enemyWeaponRankPos" style="margin-left:297px">
				<span style="position:relative">
					<img ng-src="{{enemyWeaponIcon($index,34)}}" style="display:inline-block">
					<div class="weaponRankLtrPos redText">{{formatWeaponRank(enemy[34])}}</div>
				</span>
			</div>
			<div ng-if="existsEnemyWeapon($index,35)" title="{{enemyData[$index][35]}} Rank" class="infoElement enemyWeaponRankPos" style="margin-left:364px">
				<span style="position:relative">
					<img ng-src="{{enemyWeaponIcon($index,35)}}" style="display:inline-block">
					<div class="weaponRankLtrPos redText">{{enemy[35]}}</div>
				</span>
			</div>
			<div ng-if="existsEnemyWeapon($index,36)" title="{{enemyData[$index][36]}} Rank" class="infoElement enemyWeaponRankPos" style="margin-left:431px">
				<span style="position:relative">
					<img ng-src="{{enemyWeaponIcon($index,36)}}" style="display:inline-block">
					<div class="weaponRankLtrPos redText">{{enemy[36]}}</div>
				</span>
			</div>
		
			<!--Skill Gem Info Boxes-->
			<div ng-if="Skill1 && hasSkill($index,18)" class="infoElement green whiteText enemySkillGemInfoPos" style="margin-top:8px">
				<div class="boldText popOutText popOutHeader">{{enemy[18][0]}}</div>
				<div class="popOutText personalSkillBody">{{enemy[18][4]}}</div>
			</div>
			<div ng-if="Skill2 && hasSkill($index,19)" class="infoElement green whiteText enemySkillGemInfoPos" style="margin-top:23px">
				<div class="boldText popOutText popOutHeader">{{enemy[19][0]}}</div>
				<div class="popOutText popOutBody">{{enemy[19][4]}}</div>
			</div>
			<div ng-if="Skill3 && hasSkill($index,20)" class="infoElement green whiteText enemySkillGemInfoPos" style="margin-top:38px">
				<div class="boldText popOutText popOutHeader">{{enemy[20][0]}}</div>
				<div class="popOutText popOutBody">{{enemy[20][4]}}</div>
			</div>
			<div ng-if="Skill4 && hasSkill($index,21)" class="infoElement green whiteText enemySkillGemInfoPos" style="margin-top:53px">
				<div class="boldText popOutText popOutHeader">{{enemy[21][0]}}</div>
				<div class="popOutText popOutBody">{{enemy[21][4]}}</div>
			</div>
			<div ng-if="Skill5 && hasSkill($index,22)" class="infoElement green whiteText enemySkillGemInfoPos" style="margin-top:68px">
				<div class="boldText popOutText popOutHeader">{{enemy[22][0]}}</div>
				<div class="popOutText popOutBody">{{enemy[22][4]}}</div>
			</div>
			
			<!--Weapon Info Boxes-->
			<div class="infoElement green whiteText enemyInventoryInfoPos" ng-if="eWpn1 && validEnemyWeapon($index,23)" style="margin-top:5px">
				<span class="popOutText popOutTextSpacing">Type: {{enemy[23][1]}}</span><br>
				<span class="popOutText popOutTextSpacing" ng-if="eHasWeaponRank(23, $index)">Rank: {{enemy[23][2]}}</span><br>
				<span class="popOutText popOutTextSpacing" ng-if="eHasWeaponRange(23, $index)">Range: {{enemy[23][8]}}</span><br>
				<span class="popOutText popOutTextSpacing" ng-if="eWeaponHasDes(23, $index)">{{enemy[23][10]}}</span>
			</div>
			<div class="infoElement green whiteText enemyInventoryInfoPos" ng-if="eWpn2 && validEnemyWeapon($index,24)" style="margin-top:20px">
				<span class="popOutText popOutHeader">Type: {{enemy[24][1]}}</span><br>
				<span class="popOutText popOutTextSpacing" ng-if="eHasWeaponRank(24, $index)">Rank: {{enemy[24][2]}}</span><br>
				<span class="popOutText popOutTextSpacing" ng-if="eHasWeaponRange(24, $index)">Range: {{enemy[24][8]}}</span><br>
				<span class="popOutText popOutTextSpacing" ng-if="eWeaponHasDes(24, $index)">{{enemy[24][10]}}</span>
			</div>
			<div class="infoElement green whiteText enemyInventoryInfoPos" ng-if="eWpn3 && validEnemyWeapon($index,25)" style="margin-top:35px">
				<span class="popOutText popOutHeader">Type: {{enemy[25][1]}}</span><br>
				<span class="popOutText popOutTextSpacing" ng-if="eHasWeaponRank(25, $index)">Rank: {{enemy[25][2]}}</span><br>
				<span class="popOutText popOutTextSpacing" ng-if="eHasWeaponRange(25, $index)">Range: {{enemy[25][8]}}</span><br>
				<span class="popOutText popOutTextSpacing" ng-if="eWeaponHasDes(25, $index)">{{enemy[25][10]}}</span>
			</div>
			<div class="infoElement green whiteText enemyInventoryInfoPos" ng-if="eWpn4 && validEnemyWeapon($index,26)" style="margin-top:50px">
				<span class="popOutText popOutHeader">Type: {{enemy[26][1]}}</span><br>
				<span class="popOutText popOutTextSpacing" ng-if="eHasWeaponRank(26, $index)">Rank: {{enemy[26][2]}}</span><br>
				<span class="popOutText popOutTextSpacing" ng-if="eHasWeaponRange(26, $index)">Range: {{enemy[26][8]}}</span><br>
				<span class="popOutText popOutTextSpacing" ng-if="eWeaponHasDes(26, $index)">{{enemy[26][10]}}</span>
			</div>
			<div class="infoElement green whiteText enemyInventoryInfoPos" ng-if="eWpn5 && validEnemyWeapon($index,27)" style="margin-top:65px">
				<span class="popOutText popOutHeader">Type: {{enemy[27][1]}}</span><br>
				<span class="popOutText popOutTextSpacing" ng-if="eHasWeaponRank(27, $index)">Rank: {{enemy[27][2]}}</span><br>
				<span class="popOutText popOutTextSpacing" ng-if="eHasWeaponRange(27, $index)">Range: {{enemy[27][8]}}</span><br>
				<span class="popOutText popOutTextSpacing" ng-if="eWeaponHasDes(27, $index)">{{enemy[27][10]}}</span>
			</div>
		</div>
	</div>
</div>